<div class="comment">
  <div>
    <div>name: {{detailes.name}}</div>
    <div>comment: {{detailes.content}}</div>
  </div>
  <div>
    <button (click)="edit = !edit">edit</button>
    <button (click)="removeCommment(detailes)">remove</button>
  </div>
</div>
<form *ngIf="edit">
  <input #name type="text" value="{{detailes.name}}">
  <input #comment type="text" value="{{detailes.content}}">
  <button (click)="save(name.value, comment.value); edit = !edit">save</button>
</form>
<!-- <app-form *ngIf="!edit" [formType]="edit"></app-form> -->